/*
 * Copyright (c) 2019 Roland Ma
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/f7/stm32f767Xi.dtsi>
#include "arduino_r3_connector.dtsi"

/ {
	model = "STMicroelectronics STM32F767ZI-NUCLEO board by Fabian V2";
	compatible = "st,stm32f767zi-nucleo", "st,stm32f767";

	chosen {
		zephyr,console = &usart3;
		zephyr,shell-uart = &usart3;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,dtcm = &dtcm;
		zephyr,can-primary = &can1;
	};

	leds {
		compatible = "gpio-leds";
		green_led: led_0_fabian {
			gpios = <&gpiob 0 GPIO_ACTIVE_HIGH>;
			label = "User LD1 Fabian";
		};
		blue_led: led_1_fabian {
			gpios = <&gpiob 7 GPIO_ACTIVE_HIGH>;
			label = "User LD2 Fabian";
		};
		red_led: led_2_fabian {
			gpios = <&gpiob 14 GPIO_ACTIVE_HIGH>;
			label = "User LD3 Fabian";
		};
		pin_10_mod: pin_10_mod_fab {
			gpios = <&gpiod 10 GPIO_ACTIVE_HIGH>;
			label = "User P10_ Fabian";
		};
	};
	
	pwmleds {
		compatible = "pwm-leds";
		pwm_led: pwm_led_0 {
			pwms = <&pwm1 3 15625000 PWM_POLARITY_NORMAL>;  /* Periferico  PE13 pwm1 ch3, channel, period, polarity */
		};
		pwm_green: pwm_led_1 {
			pwms = <&pwm3 3 15625000 PWM_POLARITY_NORMAL>;  /* Periferico  PB0 pwm3 ch3, channel, period, polarity */
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		user_button: button_0_fabian {
			label = "User_BT_Fabian";
			gpios = <&gpioc 13 GPIO_ACTIVE_LOW>;
		};
	};
	
	adc1 {
		compatible = "adc-controller";
		user_adc: adc_1_fabian {
			io-channels = <&adc1 1>;
		};		
	};

	aliases {
		led0fabian = &green_led;
		led1fabian = &blue_led;
		led2fabian = &red_led;
		pin10fabian = &pin_10_mod;
		sw0fabian = &user_button;
		pwm1fabian = &pwm_led;
		pwm2fabian = &pwm_green;
		adc1fabian = &adc1;
	};
};

&usart3 {
	current-speed = <115200>;
	status = "okay";
};

&usart6 {
	current-speed = <115200>;
	status = "okay";
};

&usbotg_fs {
	status = "okay";
};

&i2c1 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&timers1 {
	status = "okay";

	pwm1: pwm {
		compatible = "st,stm32-pwm";
		label = "PWM_1";
		status = "okay";	
		#pwm-cells = <3>;
	};
};

&timers3 {
	status = "okay";

	pwm3: pwm {
		compatible = "st,stm32-pwm";
		label = "PWM_3";
		status = "okay";	
		#pwm-cells = <3>;
	};
};

&spi1 {
	/*
	 * WARNING: The pin PA7 will conflict on selection of SPI_1 and
	 *          ETH_STM32_HAL. See pinmux.c for further details.
	 */
	status = "okay";
};

&iwdg {
	status = "okay";
};

&rtc {
	status = "okay";
};

&can1 {
	bus-speed = <125000>;
	sjw = <1>;
	prop-seg = <0>;
	phase-seg1 = <6>;
	phase-seg2 = <5>;
	status = "okay";
};

&adc1 {
	status = "okay";
	
	compatible = "st,stm32-adc";
	label = "ADC_1";
	#io-channel = <0>;
	
};

&rng {
	status = "okay";
};
